/* #region RESET */

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
label,
input,
textarea {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}
/* #endregion */

/* #region VARIABLES */
$color-grey: #757575;
$color-blue: #2196f3;
$color-white: #ffffff;
$color-black: #212121;
$color-link-footer: #ffffff99;
$background-color: #2f303a;
$color-light-violet: #f5f4fa;
$color-projects-border: #eeeeee;
$color-icon: #afb1b8;
$color-icon-footer: #ffffff1a;
$main-font: Roboto, system-ui, -apple-system, BlinkMacSystemFont;
$logo-font: Raleway, Arial, Helvetica, sans-serif;

/* #endregion */

/* #region NORMALIZE*/

html {
  font-family: $main-font;
  color: $color-black;
}

a {
  text-decoration: none;
  color: inherit;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
/* #endregion */

/* #region CONTAINER */

.container {
  width: 1170px;
  margin: 0 auto;
}
/* #endregion */

/* #region HEADER */

.header {
  border-bottom: 1px solid #ececec;

  &__content {
    display: flex;
  }

  &__logo {
    margin-right: 93px;
  }

  &__contacts {
    margin-left: auto;
  }
}

/* #endregion */

/* #region NAV */

.nav {
  &__list {
    display: flex;
    gap: 50px;
  }

  &__link {
    display: flex;
    align-items: center;

    height: 80px;

    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;

    transition: 250ms color;
  }

  &__item:hover {
    color: $color-blue;
  }
}

/* #endregion */

/* #region ACTIVE */

.is-active {
  position: relative;

  color: $color-blue;

  &:after {
    content: "";

    position: absolute;
    bottom: -1px;

    height: 4px;
    width: 100%;

    border-radius: 2px;

    background-color: $color-blue;
  }
}

/* #endregion */

/* #region CONTACTS */

.contacts {
  display: flex;
  gap: 50px;

  &--footer {
    flex-direction: column;
    gap: 9px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;

    line-height: 21px;

    font-weight: 500;
    font-size: 14px;
    font-style: normal;
    letter-spacing: 0.02em;

    color: $color-grey;

    transition: 250ms color;

    &:hover {
      color: $color-blue;
    }

    &--footer {
      color: $color-link-footer;

      &:nth-child(1) {
        color: $color-white;

        &:hover {
          color: $color-blue;
        }
      }
    }
  }

  &__icon {
    color: inherit;

    &--email {
      width: 16px;
      height: 12px;
    }

    &--smartphone {
      width: 10px;
      height: 16px;
    }
  }
}

/* #endregion */

/* #region LOGO */

.logo {
  display: flex;
  align-items: center;

  font-family: $logo-font;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;

  &__web {
    color: $color-blue;
  }

  &--footer {
    color: $color-white;
  }
}

/* #endregion */

/* #region SECTION */

.section {
  padding: 94px 0;

  &__title {
    margin: 0 0 50px;
    text-align: center;

    line-height: 42px;

    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.03;
  }
}

/* #endregion */

/* #region BANNER */

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 600px;

  background: linear-gradient(
      90deg,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 0%
    ),
    url("../images/banner--bg.jpeg"), $background-color;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center top 30%;

  &__title {
    margin: 0 0 30px;

    width: 696px;

    font-size: 44px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.06em;

    text-align: center;
    text-transform: uppercase;

    color: $color-white;
  }

  &__button {
    width: 216px;
  }
}

/* #endregion */

/* #region BUTTON */

.button {
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 50px;

  font-size: 16px;
  font-weight: 500;
  line-height: 30px;

  background-color: $color-light-violet;
  color: $color-black;

  border: none;
  border-radius: 4px;

  transition: all 250ms;

  cursor: pointer;

  &--small {
    padding: 0 22px;
    height: 38px;

    line-height: 26px;
  }

  &--blue {
    background-color: $color-blue;
    color: $color-white;

    border: none;
  }

  &--bold {
    font-weight: 700;
  }

  &--subscribe {
    padding: 0 28px;

    gap: 10px;

    letter-spacing: 0.06em;
  }

  &--send {
    padding: 0 52px;

    letter-spacing: 0.06em;

    &:hover {
      box-shadow: 0px 2px 1px 0px #00000033;
    }
  }
}

/* #endregion */

/* #region FEATURES */

.features {
  padding-bottom: 0;

  &__list {
    display: flex;
    gap: 30px;
  }
}

/* #endregion */

/* #region FEATURE */
.feature {
  width: 270px;

  &__image {
    margin-bottom: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 120px;

    background-color: $color-light-violet;

    border-radius: 4px;
  }

  &__icon {
    width: 70px;
    height: 70px;
  }

  &__title {
    margin: 0 0 10px;

    line-height: 16px;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
  }

  &__description {
    line-height: 24px;

    font-size: 14px;
    letter-spacing: 0.03em;

    color: $color-grey;
  }
}

/* #endregion */

/* #region SERVICES */

.services {
  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    position: relative;
  }
}

/* #endregion */

/* #region SERVICE */

.service {
  &__image {
    display: flex;

    width: 370px;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;

    height: 70px;
    width: 370px;

    background-color: #2f303acc;
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;

    color: $color-white;
  }
}

/* #endregion */

/* #region TEAM */

.team {
  background-color: #f5f4fa;

  &__list {
    display: flex;
    gap: 30px;
  }
}

/* #endregion */

/* #region PERSON */

.person {
  box-shadow: 0px 1px 3px 0px #0000001f;
  border-radius: 4px;
  background-color: $color-white;

  &__image {
    width: 270px;
  }

  &__info {
    padding: 30px 32px;
    text-align: center;
  }

  &__name {
    margin: 0 0 10px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.03em;
  }

  &__role {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.03em;

    color: $color-grey;
  }
}

/* #endregion */

/* #region SOCIAL */

.social {
  &__title {
    margin: 0 0 20px;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  &__item {
    color: $color-icon;
    background-color: $color-white;

    border-radius: 50%;

    transition: 250ms background-color, 250ms color;

    &:hover {
      color: $color-white;
      background-color: $color-blue;
    }

    &--footer {
      color: $color-white;
      background-color: $color-icon-footer;

      &:hover {
        color: $color-white;
        background-color: $color-blue;
      }
    }
  }

  &__link {
    padding: 12px;

    display: flex;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}

/* #endregion */

/* #region CLIENTS */

.clients {
  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    color: $color-icon;
    background-color: $color-white;

    border: 1px solid $color-icon;
    border-radius: 4px;

    transition: 250ms color;

    &:hover {
      color: $color-blue;
      border: 1px solid $color-blue;
    }
  }
}

/* #endregion */

/* #region CLIENT */

.client {
  &__link {
    padding: 15px 31px;

    display: flex;
  }

  &__icon {
    width: 106px;
    height: 60px;
  }
}

/* #endregion */

/* #region FOOTER */

.footer {
  padding: 60px 0;

  background-color: $background-color;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__logo {
    margin: 0 0 20px;
  }

  &-title {
    line-height: 16px;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $color-white;
  }
}

/* #endregion */

/* #region FILTERS */

.filters {
  display: flex;
  justify-content: center;
  gap: 8px;

  &__button {
    &:hover {
      color: $color-white;
      background-color: $color-blue;

      box-shadow: 0px 3px 1px 0px #0000001a;
    }

    &--active {
      color: $color-white;
      background-color: $color-blue;

      box-shadow: 0px 3px 1px 0px #0000001a;
    }
  }
}

/* #endregion*/

/* #region PROJECTS */

.projects {
  &__filters {
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

/* #endregion*/

/* #region PROJECT */

.project {
  display: flex;
  flex-direction: column;

  transition: 250ms box-shadow;

  cursor: pointer;

  &:hover {
    box-shadow: 1px 4px 6px 0px #00000029;

    & .project__overlay {
      transform: translateY(0);
    }
  }

  &__container {
    position: relative;

    overflow: hidden;
  }

  &__image {
    display: flex;

    width: 370px;
  }

  &__overlay {
    position: absolute;
    top: 0;

    transform: translateY(100%);

    width: 370px;
    height: 294px;

    background-color: #2196f3e5;

    transition: 250ms transform;
  }

  &__description {
    position: absolute;
    left: 24px;
    top: 63px;

    line-height: 28px;

    font-size: 18px;
    letter-spacing: 0.03em;

    color: $color-white;
  }

  &__info {
    padding: 20px 24px;

    border: 1px solid $color-projects-border;
    border-top: none;
  }

  &__name {
    margin: 0 0 4px;

    line-height: 36px;

    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.06em;
  }

  &__type {
    line-height: 30px;

    font-size: 16px;
    letter-spacing: 0.03em;

    color: $color-grey;
  }
}

/* #endregion */

/* #region MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  opacity: 0;

  transition: opacity 700ms;

  pointer-events: none;

  &:target {
    opacity: 1;

    pointer-events: all;

    & .modal__window {
      transform: translate(-50%, -50%);
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.2);
  }

  &__window {
    position: absolute;
    top: 50%;
    left: 50%;

    padding: 40px;

    transform: translate(-50%, -35%);

    width: 528px;

    background-color: $color-white;

    box-shadow: 0px 2px 1px #00000033;

    border-radius: 4px;

    transition: transform 700ms ease-in-out;
  }

  &__button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    width: 30px;

    background-color: $color-white;

    border: 1px solid #0000001a;
    border-radius: 50%;

    transition: color 250ms, border-color 250ms;

    &:hover {
      border-color: $color-blue;

      & .modal__close {
        color: $color-blue;
      }
    }
  }

  &__close {
    width: 11px;
    height: 11px;

    color: $color-black;

    transition: 250ms color;
  }

  &__title {
    margin-bottom: 12px;

    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.03em;

    text-align: center;

    color: $color-black;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* #endregion */

/* #region FORM */
.form {
  display: flex;
  flex-direction: column;

  border: 0 none;

  &__label {
    margin-bottom: 10px;
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 4px;

    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: $color-grey;

    &--message {
      margin-bottom: 20px;
    }

    &--terms {
      margin-bottom: 30px;

      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 8px;

      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.03em;

      color: $color-grey;
    }

    &:hover {
      & .form__icon {
        color: $color-blue;
      }
    }
  }

  &__input {
    padding-left: 42px;

    width: 448px;
    height: 40px;

    outline: none;

    border: 1px solid #21212133;
    border-radius: 4px;

    transition: border-color 250ms;

    cursor: pointer;

    &:hover {
      border-color: $color-blue;
    }

    &--message {
      padding: 12px 16px;

      height: 120px;
      font-family: inherit;

      resize: none;

      &::placeholder {
        color: #75757580;
      }
    }

    &--terms {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;

      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;

      &:checked {
        & ~ .form__icon--checkbox {
          display: none;
        }

        & ~ .form__icon--checkbox-checked {
          display: block;
        }
      }
    }
  }

  &_link {
    text-decoration: underline;

    color: $color-blue;
  }

  &__icon {
    position: absolute;
    bottom: 11px;
    left: 12px;

    width: 18px;
    height: 18px;

    color: $color-black;

    transition: color 250ms;

    &--checkbox {
      height: 16px;
      width: 16px;
    }

    &--checkbox-checked {
      display: none;

      height: 16px;
      width: 16px;
    }
  }
}

/* #endregion */

/* #region SUBSCRIBE */
.subscribe {
  position: relative;

  width: 570px;
  height: 86px;

  &__input {
    position: absolute;
    left: 0;
    bottom: 0;

    padding: 15px 16px;

    height: 50px;
    width: 358px;

    outline: none;

    border: 1px solid #ffffff4d;
    border-radius: 4px;

    background-color: transparent;

    color: $color-white;

    transition: border-color 250ms;

    cursor: pointer;

    &::placeholder {
      font-family: inherit;
      font-size: 16px;
      letter-spacing: 0.03em;

      color: #ffffff99;
    }

    &:hover {
      border-color: $color-blue;
    }
  }

  &__icon-telegram {
    width: 24px;
    height: 24px;
  }

  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

/* #endregion */
