.filters {
  display: flex;
  justify-content: center;
  gap: 8px;

  &__button {
    &:hover {
      color: var(--color-white);
      background-color: var(--color-blue);

      box-shadow: 0px 3px 1px 0px #0000001a;
    }

    &--active {
      color: var(--color-white);
      background-color: var(--color-blue);

      box-shadow: 0px 3px 1px 0px #0000001a;
    }
  }
}
