.footer {
  padding: 60px 0;

  background-color: var(--background-color);
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  &__logo {
    margin: 0 0 20px;
  }

  &-title {
    line-height: 16px;

    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--color-white);
  }
}
